header{
    text-align: center;
    margin: 20px;
}

.logo{
    animation-name: spin;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 50px;
    width: 200px;
    transition: 0.2s;
    fill: var(--react-color);
    filter: drop-shadow(0 0 8px var(--react-color));
}

/* .logo:hover{
    filter: drop-shadow(0 0 60px var(--react-color));
} */

header h1{
    width: max-content;
    background: var(--react-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
    font-size: 2.5rem;
    letter-spacing: 5px;
    /* filter: drop-shadow(0 0 20px var(--react-color)); */
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}